#!/bin/bash

# {{ ansible_managed }}

# This is the actual call to the ACME server to generate the cert
# It requires that ansible has already generated the account_key and
# CSR from the also pre-generated key.
python {{ gm_letsencrypt_acme_parentdir ~ '/acme-tiny/acme_tiny.py' | quote }} \
  --account-key {{ gm_letsencrypt_account_key | quote }} \
  --csr {{ gm_letsencrypt_csr_path | quote }} \
  --acme-dir {{ gm_letsencrypt_acme_webroot | quote }} \
  --ca {{ gm_letsencrypt_acme_template_ca | quote }} \
  > {{ gm_letsencrypt_ssl_cert_path | quote }} || exit

# Make bundled cert from the two acquired roots and the signed cert
cat \
  {{ gm_letsencrypt_ssl_cert_path | quote }} \
  {{ gm_letsencrypt_intermediate_list | quote }} \
  > {{ gm_letsencrypt_ssl_bundled_cert_path | quote }}

{% if gm_letsencrypt_renew_script_reload_nginx|bool %}
# To not incur a double reload during the ansible script,
# Only reload nginx when the -n option isn't present
while getopts "n" opt; do
  [[ "$opt" == "n" ]] || { nginx -t && nginx -s reload; }
done
{% endif %}

# Add extra commands here as literal data (use | in YAML) in
# gm_letsencrypt_renew_script_extra_commands
{% if gm_letsencrypt_renew_script_extra_commands is defined %}
{{ gm_letsencrypt_renew_script_extra_commands }}
{% endif %}
