# {{ ansible_managed }}

server {
    listen 80{% if gm_letsencrypt_default_server|bool %} default_server{% endif %};
    server_name {{ FQDN }}{% if gm_letsencrypt_default_server|bool %} _{% endif %};
    location /.well-known/acme-challenge/ {
    alias {{ gm_letsencrypt_acme_webroot }}/;
        try_files $uri =404;
    }
{% if gm_letsencrypt_redirect_http_to_https|bool %}
    location / {
        return 301 https://$host$request_uri;
    }
{% endif %}
}
